NODE_ENV=staging
PORT=8080
MONGODB_URI=mongodb+srv://<user>:<ENCODED_PASS>@<cluster>.mongodb.net/jobboard_staging
ADMIN_USER=stagingAdmin
ADMIN_PASS=stagingPass
SWAGGER_ENABLED=true
SWAGGER_USER=docs
SWAGGER_PASS=docs123
CORS_ORIGIN=*
